* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

html,
body,
#root,
.content,
.App {
  height: 100%;
  width: 100%;
}


.App {
  display: flex;
  position: relative;
}
